/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
body
{
    padding:0;
    padding-top:100px;
    background-color:#f5f5f5;
}
.navbar-fixed-top
{
    min-height:95px;
}
.navbar-default .navbar-nav>li>a
{
    border: 1px solid #ddd;
    border-width: 0 1px 0 0;
}
.mat-dialog-container {
    width: 550px;
    height: 480px;
    padding-bottom: 20px;
    padding-top: 20px;
}
.mat-dialog-footer {
    padding: 20px;
    width: 100%;
}
mat-input-container {
    width: 100%;
}
.frm-ctrl {
    padding-top: 20px;
    width: 100%;
}
.line_ctrl {
    float: left;
    width: 145px;
    text-align: right;
    margin: 2px;
    display: inline;
}
.mat-card-content, .mat-card-header .mat-card-title, .mat-card-subtitle {
    font-size: 12px;
}
a.disabled {
    color: gray;
    cursor: not-allowed;
    text-decoration: underline;
}
@media only screen and (min-width:768px) {
    .container {
        width: 970px;
    }.navbar-default .navbar-collapse, .navbar-default .navbar-form
    {
       padding-top: 25px;
    }
}
@media only screen and (max-width:767px) {
    .navbar-default .navbar-collapse, .navbar-default .navbar-form
    {
        margin-top: 35px;
    }
}
/* @import '~bootstrap/dist/css/bootstrap.min.css'; */

/* Responsive design/ bootstrap extension */
/*.navbar-header-container
{
    width:auto;
    min-height:97px;
    background:url('/Content/Images/k_bg_header.png') repeat-x left top;
    background-color: #EDEDED;
}
@media only screen and (min-width: 475px)
{
    .col-notTiny-11 
    {
        width: 90%;
    }
    .col-notTiny-10 
    {
        width: 85%;
    }
    .col-notTiny-9 
    {
        width: 75%;
    }
    .col-notTiny-8 
    {
        width: 67%;
    }
    .col-notTiny-7 
    {
        width: 60%;
    }
    .col-notTiny-6, .col-notTinyText-6, .col-notTinyData-6
    {
        width: 50%;
    }
            
    .col-sm-6 
    {
        padding-right:5px;
    }
    .col-notTiny-5, .col-notTinyText-5
    {
        width: 40%;
    }
    .col-notTiny-4 
    {
        width: 33%;
    }
    .col-notTiny-3 
    {
        width: 25%;
    }
    .col-notTiny-2 
    {
        width: 15%;
    }
    .col-notTiny-1 
    {
        width: 10%;
    }
            
    .col-notTinyText-6, .col-notTinyText-5
    {
        text-align:right;
        padding-left:25px;
        font-weight:bold;
    }
    .col-notTinyData-6 
    {
        text-align:left;
        padding-left:10px;
        background-color: #F8FAF9;
    }
            
    .col-notTiny-1,.col-notTiny-2,.col-notTiny-3,.col-notTiny-4,.col-notTiny-5,.col-notTiny-6,.col-notTiny-7,.col-notTiny-8,.col-notTiny-9,.col-notTiny-10,.col-notTiny-11,.col-notTiny-12,.col-notTinyText-6, .col-notTinyData-6 
    {
        float:left;
        position: relative;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
            box-sizing:        border-box;
    }
    .navbar-header-container
    {
        padding-left:50px;
    }
}
        
@media only screen and (max-width:767px)
{
    .footer
    {
        padding-right:15px;
    }
    .col-notXs-6, .col-notXs-4
    {
        text-align:left;
        padding-left:10%;
    }
}
@media only screen and (min-width:768px) 
{
    .col-notXs-6
    {
        width: 50%;
    }        
    .col-notXs-4
    {
        width: 33%;
    }     
    .col-notXs-6, .col-notXs-4
    {
        float:left;
        position: relative;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
            box-sizing:        border-box;
    }   
}
@media only screen and (max-width:991px) 
{
    .col-notSm-6, .col-notSm-4
    {
        text-align:left;
        padding-left:10%;
    }      
}
@media only screen and (min-width:992px)
{
    .col-notSm-6
    {
        width: 50%;
    }     
    .col-notSm-6, .col-notSm-4
    {
        float:left;
        position: relative;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
            box-sizing:        border-box;
    }  
    .col-notSm-4
    {
        width:33%;
    }                
}

@media only screen and (max-width:1199px) 
{
    .col-notMd-6, .col-notMd-4
    {
        text-align:left;
        padding-left:10%;
    }        
}
@media only screen and (min-width:1200px)
{
    .col-notMd-6
    {
        width: 50%;
    }     
    .col-notMd-6, .col-notMd-4
    {
        float:left;
        position: relative;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
            box-sizing:        border-box;
    }
    .col-notMd-4
    {
        width:33%;
    }
}

@media only screen and (max-width:1450px) 
{
    .col-notLg-6
    {
        text-align:left;
        padding-left:10%;
    }        
}
@media only screen and (min-width:1451px)
{
    .col-notLg-6
    {
        width: 50%;
    }     
    .col-notLg-6
    {
        float:left;
        position: relative;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
            box-sizing:        border-box;
    }          
}

@media only screen and (max-width:474px) , print
{
    .col-notTinyText-6, .col-notTinyData-6 
    {
        text-align:left;
    }
    .col-notTinyText-6 
    {
        font-weight:bold;
    }
    .col-notTinyData-6 
    {
        background-color: #F8FAF9;
    }
    .col-notTiny-1, .col-notTiny-2, .col-notTiny-3, .col-notTiny-4, .col-notTiny-5, .col-notTiny-6, .col-notTiny-7, .col-notTiny-8, .col-notTiny-9, .col-notTiny-10, .col-notTiny-11, .col-notTiny-12, .col-notTinyText-6, .col-notTinyData-6 
    {
        text-align:left;
        padding-left:10%;
    }
    .col-sm-6 
    {
        padding-right:30px;
    }
            
    .col-xs-1,.col-xs-2,.col-xs-3,.col-xs-4,.col-xs-5,.col-xs-6,.col-xs-7,.col-xs-8,.col-xs-9,.col-xs-10,.col-xs-11,.col-xs-12
    {
        padding-left:2px;padding-right:2px;
    }
}
        
/* override bootstrap-responsive.css 111 */
/*
@media (min-width: 1200px)
{
    .row 
    {
            margin-left: -15px; 
    }
}
a
{
    color: #c8541a;
}
.nav .active a
{
    color: White;
}
       
.active
{
    background: url('https://www.kemper.com/wps/wcm/connect/5274b707-13a9-4ffe-ac81-e13957ee696�g?MOD=AJPERES&CONVERT_TO=url&CACHEID=5274b707-13a9-4ffe-ac81-e13957ee6964') repeat-y #f6b213; 
    
}
        
.navbar .active a:hover
{
    background: url('https://www.kemper.com/wps/wcm/connect/5274b707-13a9-4ffe-ac81-e13957ee696�g?MOD=AJPERES&CONVERT_TO=url&CACHEID=5274b707-13a9-4ffe-ac81-e13957ee6964') repeat-y #f6b213; 
    
}
.dropdown, .inactive
{
    color:Black;
}
.dropdown a, .inactive a, .active .dropdown-menu li a
{
    color:Black;
}
.dropdown a.dropdown-toggle:hover, .inactive a.no-dropdown-toggle:hover, .active a.dropdown-toggle:hover, .active a.no-dropdown-toggle:hover, .inactive a.dropdown-toggle:hover
{
    background: url('https://www.kemper.com/wps/wcm/connect/5274b707-13a9-4ffe-ac81-e13957ee696�g?MOD=AJPERES&CONVERT_TO=url&CACHEID=5274b707-13a9-4ffe-ac81-e13957ee6964') repeat-y #f6b213; 
    
}
.dropdown a:hover, .inactive a:hover, .navbar .active a:hover
{
            
    color:White;
}
.dropdown-menu li a:hover
{
    background: url('https://www.kemper.com/wps/wcm/connect/5274b707-13a9-4ffe-ac81-e13957ee696�g?MOD=AJPERES&CONVERT_TO=url&CACHEID=5274b707-13a9-4ffe-ac81-e13957ee6964') repeat-y #f6b213; 
    
    color:White;
}
.navbar-nav .open .dropdown-menu
{
    background-color: #EDEDED;
}
.nav .active.open>a
{
    background-color: #EDEDED;
    color:Black;
}
.nav .active.open>a:hover, .nav .active.open>a:focus
{
    background: url('https://www.kemper.com/wps/wcm/connect/5274b707-13a9-4ffe-ac81-e13957ee696�g?MOD=AJPERES&CONVERT_TO=url&CACHEID=5274b707-13a9-4ffe-ac81-e13957ee6964') repeat-y #f6b213; 
    
    color:White;
}
.row 
{
    margin-right:0;
}
.footer
{
    margin-top:0;
}
footer
{
    background:inherit;
}
#mainNav ul li
{
    padding-right:0;
}
#mainNav ul li a
{
    width: 115px;
    text-align: left;
}

.panel-default-kemper
{
    background-color: #E0E8EE;border: 1px solid #9E9E9E;
    
}
@media only screen and (min-width : 768px)
{
    .panel-default-kemper-x-group-top,  .panel-default-kemper-x-group,  .panel-default-kemper-x-group-bottom
    {
        border-bottom:none;
        border-top:none;
        border-radius:0;
        margin-top:0;
        margin-bottom:0;
    }
    .panel-default-kemper-x
    {
        border-bottom:none;
        border-top:none;
        border-radius:0;
        margin-top:0;
        margin-bottom:0;
    }
    .panel-default-kemper-top-x
    {
        border-bottom:none;
        border-bottom-left-radius:0;
        border-bottom-right-radius:0;
        margin-bottom:0;
        padding-top:10px;
        padding-bottom:5px;
    }
    .panel-default-kemper-bottom-x
    {
        border-top:none;
        border-top-left-radius:0;
        border-top-right-radius:0;
        margin-top:0;
        padding-top:5px;
    }
    .panel-body-kemper-x
    {
        margin-top:0;
        margin-bottom:0;
        padding-top:0px;
        padding-bottom:0px;
    }
}
@media only screen and (max-width:767px)
{
    .panel-default-kemper-x-group-top
    {
        border-bottom:none;
        border-bottom-left-radius:0;
        border-bottom-right-radius:0;
        margin-top:0;
        margin-bottom:0;
    }
    .panel-default-kemper-x-group
    {
        border-bottom:none;
        border-top:none;
        border-radius:0;
        margin-top:0;
        margin-bottom:0;
    }
     .panel-default-kemper-x-group-bottom
    {
        border-top:none;
        border-top-left-radius:0;
        border-top-right-radius:0;
        margin-top:0;
        margin-bottom:0;
    }
}
@media only screen and (min-width: 575px)
{
    .visible-tiny
    {
        display:none;
    }
    .visible-notTiny
    {
        display:block;
    }
}
@media only screen and (max-width:574px)
{
    .visible-tiny
    {
        display:block;
    }
    .visible-notTiny
    {
        display:none;
    }
}*/
